<div class="container-fluid" style="padding: 0;">
  <div class="title" style="background-color: rgba(19, 141, 117);">
    <img src="../../assets/img/adult-business-computer-contemporary-380769.jpg" class="img-fluid"
      alt="Responsive image" />
    <div class="container" style="margin: 0;">
      <div class="row title-text">
        <div class="col-md-7 title-1" style="padding-left: 5%;">
          <h2 style="color: white;">{{title}}</h2>
          <h1 style="color: rgb(247, 220, 111);">Unlimited Web Hostring</h1>
          <h2 style="color: rgb(247, 220, 111);">
            Web Hosing made Easy and Affordable
          </h2>
          <div class="row" style="color: rgb(247, 220, 111); font-size: 1rem;">
            <div class="col-sm-6">
              <p><i class="far fa-check-square"></i>UNLIMITED Disk Space</p>
              <p><i class="far fa-check-square"></i>UNLIMITED Bandwith</p>
              <p>
                <i class="far fa-check-square"></i>Easy Control Panel(Try
                Demo)
              </p>
              <p>
                <i class="far fa-check-square"></i>1-Click Script Installs
              </p>
              <p>
                <i class="far fa-check-square"></i>$100 Google Adwords Offer
              </p>
            </div>
            <div class="col-sm-6">
              <p>
                <i class="far fa-check-square"></i>4,500 Free Website
                Templates
              </p>
              <p>
                <i class="far fa-check-square"></i>99.9% Uptime Guarantee
              </p>
              <p>
                <i class="far fa-check-square"></i>99.9% Uptime Guarantee
              </p>
              <p>
                <i class="far fa-check-square"></i>99.9% Uptime Guarantee
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <h2 style="color: white;">Starting at Only</h2>
          <h1 style="color: white; font-size: 75px;">$3.96 only</h1>
          <button (click)="onClick()" style="
                        background-color: rgb(247, 220, 111);
                        color: black;
                        font-size: 18px;">
            Get Started now
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid dark">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="card shadows">
          <div class="title-card yellow" style="padding: 15px;">
            <h3>Reseller Hosting</h3>
            <h5 style="margin: 0; color: rgb(19, 141, 117);">
              Starting at
            </h5>
            <h1 style="margin: 0; padding: 0; color: rgb(19, 141, 117);">
              $19.96/mo
            </h1>
          </div>
          <div class="card-body">
            <p class="card-text">UNLIMITED Disk Space</p>
            <p class="card-text">UNLIMITED Bandwith</p>
            <p class="card-text">Easy Control Panel(Try Demo)</p>
            <p class="card-text">1-Click Script Installs</p>
            <p class="card-text">$100 Google Adwords Offer</p>
            <p class="card-text">4,500 Free Website Templates</p>
            <p class="card-text">99.9% Uptime Guarantee</p>
            <button style="width: 100%;">Get Started Now!</button>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="card shadows">
          <div class="title-card green" style="padding: 15px;">
            <h3>Reseller Hosting</h3>
            <h5 style="margin: 0; color: rgb(247, 220, 111);">
              Starting at
            </h5>
            <h1 style="margin: 0; padding: 0; color: rgb(247, 220, 111);">
              $19.96/mo
            </h1>
          </div>
          <div class="card-body">
            <p class="card-text">UNLIMITED Disk Space</p>
            <p class="card-text">UNLIMITED Bandwith</p>
            <p class="card-text">Easy Control Panel(Try Demo)</p>
            <p class="card-text">1-Click Script Installs</p>
            <p class="card-text">$100 Google Adwords Offer</p>
            <p class="card-text">4,500 Free Website Templates</p>
            <p class="card-text">99.9% Uptime Guarantee</p>
            <button style="width: 100%;">Get Started Now!</button>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12">
        <div class="card shadows">
          <div class="title-card" style="padding: 15px; background-color: rgb(223, 64, 37);">
            <h3>Reseller Hosting</h3>
            <h5 style="margin: 0; color: rgb(247, 220, 111);">
              Starting at
            </h5>
            <h1 style="margin: 0; padding: 0; color: rgb(247, 220, 111);">
              $19.96/mo
            </h1>
          </div>
          <div class="card-body">
            <p class="card-text">UNLIMITED Disk Space</p>
            <p class="card-text">UNLIMITED Bandwith</p>
            <p class="card-text">Easy Control Panel(Try Demo)</p>
            <p class="card-text">1-Click Script Installs</p>
            <p class="card-text">$100 Google Adwords Offer</p>
            <p class="card-text">4,500 Free Website Templates</p>
            <p class="card-text">99.9% Uptime Guarantee</p>
            <button style="width: 100%;">Get Started Now!</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row round">
      <div class="col-md-3">
        <img
          src="../../assets/img/office-life-concepts-person-drinking-coffee-using-computer-laptop-window-view-135173696.jpg"
          alt="" class="shadows-2" />
      </div>
      <div class="col-md-9">
        <h1>We are with you every step of the way</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Neque
          aliquam vestibulum morbi blandit. Feugiat in fermentum posuere
          urna nec. Odio morbi quis commodo odio aenean sed adipiscing diam
          donec. Cursus sit amet dictum sit. Id venenatis a condimentum
          vitae sapien pellentesque. Commodo viverra maecenas accumsan lacus
          vel facilisis volutpat est velit. Nunc id cursus metus aliquam
          eleifend mi. Massa ultricies mi quis hendrerit dolor. Sed libero
          enim sed faucibus turpis in eu. In aliquam sem fringilla ut morbi
          tincidunt augue.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container fluid">
  <div class="container">
    <div class="row round">
      <div class="col-md-9">
        <h1>Get Started! Quick and Easy</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Neque
          aliquam vestibulum morbi blandit. Feugiat in fermentum posuere
          urna nec. Odio morbi quis commodo odio aenean sed adipiscing diam
          donec. Cursus sit amet dictum sit. Id venenatis a condimentum
          vitae sapien pellentesque.
        </p>
        <button>Learn more</button>
      </div>
      <div class="col-md-3">
        <img src="../../assets/img/download.jpeg" alt="" class="shadows-2" />
      </div>
    </div>
  </div>
</div>
<div class="container-fluid dark">
  <div class="container">
    <div class="row big">
      <div class="col-sm-2 icon">
        <!-- <img src="./img/lavakidneys_800x400@2x-2db5e5a0c944e2b16a11a18674570f76.webp" alt=""
                    style="height: auto;width:100%;"> -->
        <i class="fas fa-cloud"></i>
      </div>
      <div class="col-sm-4">
        <h3 style="color: rgb(19, 141, 117);">Dolor magna aliqua</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Neque
          aliquam vestibulum morbi blandit. Feugiat in fermentum posuere
          urna nec. Odio morbi quis commodo odio aenean sed adipiscing diam
          donec. Cursus sit amet dictum sit.
        </p>
      </div>
      <div class="col-sm-4">
        <h3 style="color: rgb(19, 141, 117);">Dolor magna aliqua</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Neque
          aliquam vestibulum morbi blandit. Feugiat in fermentum posuere
          urna nec. Odio morbi quis commodo odio aenean sed adipiscing diam
          donec. Cursus sit amet dictum sit.
        </p>
      </div>
      <div class="col-sm-2 icon">
        <i class="fas fa-keyboard"></i>
      </div>
    </div>
    <div class="row big">
      <div class="col-sm-2 icon">
        <i class="fas fa-cog"></i>
      </div>
      <div class="col-sm-4">
        <h3 style="color: rgb(19, 141, 117);">Dolor magna aliqua</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Neque
          aliquam vestibulum morbi blandit. Feugiat in fermentum posuere
          urna nec. Odio morbi quis commodo odio aenean sed adipiscing diam
          donec. Cursus sit amet dictum sit.
        </p>
      </div>
      <div class="col-sm-4">
        <h3 style="color: rgb(19, 141, 117);">Dolor magna aliqua</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Neque
          aliquam vestibulum morbi blandit. Feugiat in fermentum posuere
          urna nec. Odio morbi quis commodo odio aenean sed adipiscing diam
          donec. Cursus sit amet dictum sit.
        </p>
      </div>
      <div class="col-sm-2 icon">
        <i class="fas fa-comments"></i>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid green">
  <div class="container">
    <div class="row round">
      <div class="col-sm">
        <img src="../../assets/img/38665682-simple-young-man-face-smiling-and-optimistic.jpg" alt="" class="shadows" />
        <p>
          <i class="fas fa-quote-left" style="color: rgb(247, 220, 111);"></i>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <p class="Name" style="color: rgb(247, 220, 111);">-Lorem ipsum</p>
      </div>
      <div class="col-sm">
        <img src="../../assets/img/istockphoto-1089633230-612x612.jpg" alt="" style="object-fit: cover;"
          class="shadows" />
        <p>
          <i class="fas fa-quote-left" style="color: rgb(247, 220, 111);"></i>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <p class="Name" style="color: rgb(247, 220, 111);">-Lorem ipsum</p>
      </div>
      <div class="col-sm">
        <img src="../../assets/img/image-250nw-793117360.jpg" alt="" style="object-fit: cover;" class="shadows" />
        <p>
          <i class="fas fa-quote-left" style="color: rgb(247, 220, 111);"></i>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <p class="Name" style="color: rgb(247, 220, 111);">-Lorem ipsum</p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid dark">
  <div class="container">
    <div class="row" style="padding: 0;">
      <div class="col-sm-4" style="padding: 0;">
        <button class="shadows-2" style="width: 98%; background-color: rgb(17, 119, 99);">
          Lorem ipsum
        </button>
        <button class="shadows-2" style="width: 98%;">Lorem ipsum</button>
        <button class="shadows-2" style="width: 98%;">Lorem ipsum</button>
        <button class="shadows-2" style="width: 98%;">Lorem ipsum</button>
        <button class="shadows-2" style="width: 98%;">Lorem ipsum</button>
      </div>
      <div class="col-sm-8 shadows-2" style="background-color: white; padding-top: 1rem;">
        <h2>Reseller Hosting Features</h2>
        <div class="row" style="margin-left: 6px;">
          <div class="col-sm-6">
            <div>
              <h4 style="color: rgb(19, 141, 117);">Lorem ipsum</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                do eiusmod tempor incididunt ut labore et dolore magna
                aliqua.
              </p>
            </div>
            <div>
              <h4 style="color: rgb(19, 141, 117);">Lorem ipsum</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                do eiusmod tempor incididunt ut labore et dolore magna
                aliqua.
              </p>
            </div>
            <div>
              <h4 style="color: rgb(19, 141, 117);">Lorem ipsum</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                do eiusmod tempor incididunt ut labore et dolore magna
                aliqua.
              </p>
            </div>
          </div>
          <div class="col-sm-6">
            <div>
              <h4 style="color: rgb(19, 141, 117);">dolor sit amet</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                do eiusmod tempor incididunt ut labore et dolore magna
                aliqua.
              </p>
            </div>
            <div>
              <h4 style="color: rgb(19, 141, 117);">dolor sit amet</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                do eiusmod tempor incididunt ut labore et dolore magna
                aliqua.
              </p>
            </div>
            <div>
              <h4 style="color: rgb(19, 141, 117);">dolor sit amet</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                do eiusmod tempor incididunt ut labore et dolore magna
                aliqua.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid yellow">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-12 text-center">
        <h1 style="margin-top: 5px;">Subscribe</h1>
      </div>
      <div class="col-lg-7 col-md-8" style="margin-bottom:1rem;">
        <input type="text" style="width: 100%; height: 60px; padding-left: 20px;" placeholder="Enter Your Email" />
      </div>
      <div class="col-lg-2 col-md-4">
        <button>Subscribe</button>
      </div>
    </div>
    <div class="row">
      <p style="color: rgb(19, 141, 117);">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua. Neque
        aliquam vestibulum morbi blandit. Feugiat in fermentum posuere urna
        nec. Odio morbi quis commodo odio aenean sed adipiscing diam donec.
      </p>
    </div>
  </div>
</div>
<div class="container-fluid green">
  <div class="container footer">
    <div class="row">
      <div class="col-md-2">
        <h5>Hosting</h5>
        <div><a href="/">Lorem ipsum</a></div>
        <div><a href="/">Lorem ipsum</a></div>
        <div><a href="/">Lorem ipsum</a></div>
        <div><a href="/">Lorem ipsum</a></div>
        <div><a href="/">Lorem ipsum</a></div>
      </div>
      <div class="col-md-2">
        <h5>Hosting</h5>
        <div><a href="/">Lorem ipsum</a></div>
        <div><a href="/">Lorem ipsum</a></div>
        <div><a href="/">Lorem ipsum</a></div>
      </div>
      <div class="col-md-2">
        <h5>Hosting</h5>
        <div><a href="/">Lorem ipsum</a></div>
        <div><a href="/">Lorem ipsum</a></div>
        <div><a href="/">Lorem ipsum</a></div>
        <div><a href="/">Lorem ipsum</a></div>
        <div><a href="/">Lorem ipsum</a></div>
      </div>
      <div class="col-md-2">
        <h5>Hosting</h5>
        <div><a href="/">Lorem ipsum</a></div>
        <div><a href="/">Lorem ipsum</a></div>
        <div><a href="/">Lorem ipsum</a></div>
        <div><a href="/">Lorem ipsum</a></div>
        <div><a href="/">Lorem ipsum</a></div>
      </div>
      <div class="col-md-4">
        <h5>Contacts</h5>
        <div>
          <p>
            <i class="fas fa-map-marker-alt" style="color: rgb(247, 220, 111);"></i>412 Chirakkal
            Road,Kannur,Kerala
          </p>
        </div>
        <div>
          <p>
            <i class="fas fa-phone" style="color: rgb(247, 220, 111);"></i>+91 7289 808 511
          </p>
        </div>
        <div>
          <p>
            <i class="fas fa-phone" style="color: rgb(247, 220, 111);"></i>+91 7289 808 512
          </p>
        </div>
        <div>
          <i class="fab fa-facebook"></i>
          <i class="fab fa-twitter"></i>
          <i class="fab fa-google-plus-g"></i>
          <i class="fab fa-instagram"></i>
        </div>
      </div>
    </div>
  </div>
</div>
